<div>
  <p-card>
    <app-event-quick-list-toolbar (dateRangeChanged)="quickListDateRange.set($event)"/>

    @if (occurrences().length > 0) {
      <div class="spacer" style="height:32px"></div>
      <app-event-quick-stats [statistics]="statistics()"/>
    }
  </p-card>

  <div>
    <div class="text-white  align-items-end  mt-5">
      <h1 class="m-0">Upcoming bills</h1>

      <small class="">
        <strong>{{ quickListDateRange().startDate.format('Do of MMM') }}</strong>
        to
        <strong>{{ quickListDateRange().endDate.format('Do of MMM') }}</strong>
      </small>
    </div>

    <app-event-quick-list [occurrences]="upcomingOccurrences()"
                          [startDate]="quickListDateRange().startDate"
                          [endDate]="quickListDateRange().endDate"/>
  </div>


  @if (paidOccurrences().length > 0) {
    <div class="mt-5">
      <div class="text-white align-items-end  mt-5">
        <h1 class="m-0">Paid bills</h1>

        <small class="">
          <strong>{{ quickListDateRange().startDate.format('Do of MMM') }}</strong>
          to
          <strong>{{ quickListDateRange().endDate.format('Do of MMM') }}</strong>
        </small>
      </div>

      <app-event-quick-list [occurrences]="paidOccurrences()"
                            [startDate]="quickListDateRange().startDate"
                            [endDate]="quickListDateRange().endDate"/>
    </div>
  }

</div>
