<div>
  <p-card>
    <app-event-quick-list-toolbar (dateRangeChanged)="quickListDateRange.set($event)" />
  </p-card>

  <div class="text-white  align-items-end  mt-5">
    <h1 class="m-0">Upcoming bills</h1>

    <small class="">
      <strong>{{ quickListDateRange().startDate.format('Do of MMM') }}</strong>
      to
      <strong>{{ quickListDateRange().endDate.format('Do of MMM') }}</strong>
    </small>
  </div>

  <app-event-quick-list [events]="events()"
                        [startDate]="quickListDateRange().startDate"
                        [endDate]="quickListDateRange().endDate" />
</div>
