<div class="event-quick-list">
  <p-card *ngFor="let event of calculatedEvents" class="block mb-5 event-item">
      <ng-template pTemplate="footer">
        @if(event.nextOccurrence && event.nextOccurrence.timeUntil.days >= 0 && event.nextOccurrence.timeUntil.days <= 2) {
          <div class="mark-as-paid-reminder">
            <span>
              Due in
              {{ event.nextOccurrence.timeUntil.days | number:'1.0-0' }}
              {{ event.nextOccurrence.timeUntil.days >= 2 ? 'days' : 'day' }}
            </span>
          </div>
        }
      </ng-template>



    <div class="flex flex-row">
      <div>
<!--        ICON HERE-->
      </div>

      <div class="flex-grow-1">
        <h3 class="m-0 p-0">{{ event.event.name }}</h3>
        {{ event.nextOccurrence?.date?.format("DD/MM/YYYY") }}

        <div class="toolbar" style="font-size: 0.5rem;">
          <p-button label="Mark as paid" [text]="true" size="small" />
        </div>

      </div>
      <div style="font-size: 2.5rem;">
        <span class="p-text-secondary" style="font-size: 2rem;">£</span>
        {{ event.event.expense }}
      </div>
    </div>


  </p-card>
</div>
