@if(editBill(); as existingBill) {
<p-dialog
  header="Edit a bill"
  [visible]="showEditBillDialog()"
  [modal]="true"
  [style]="{ width: '25rem' }">

<!--  @if(editBill(); as existingBill) {-->
    <app-create-event [existingEvent]="editBill()?.event" [mode]="'edit'" />
<!--  }-->

  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      [text]="true"
      severity="secondary"
      (onClick)="editBill.set(undefined)" />
    <p-button
      label="Save"
      [outlined]="true"
      severity="secondary"
      (onClick)="editBill.set(undefined)"
    />
  </ng-template>
</p-dialog>
}


<div class="event-quick-list mt-4">
  @for(item of items(); track $index) {

    <app-event-quick-list-item [item]="item" (edited)="editBill.set($event)" />

  } @empty {

    <div class="flex align-items-center justify-content-center text-white mt-5">
      You have no upcoming bills.
    </div>

  }
</div>
