<mat-expansion-panel style="margin-bottom: 22px;" expanded>
  <mat-expansion-panel-header>Details</mat-expansion-panel-header>
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="name"/>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="description"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Cost</mat-label>
      <input matInput type="number" min="0" step="0.01" [(ngModel)]="cost"/>
    </mat-form-field>
  </div>

</mat-expansion-panel>


<mat-expansion-panel style="margin-bottom: 22px;" expanded>
  <mat-expansion-panel-header>Frequency</mat-expansion-panel-header>

  <table>
    <tr>
      <td>Every</td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="eventFrequency">
            <mat-option [value]="EventFrequency.Monthly">month</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>


    <tr>
      <td>On a</td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="eventType">
            <mat-option [value]="'specific-date'">specific date</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>


    <tr>
      <td></td>
      <td>
        <mat-form-field>
          <mat-label>Day of the month</mat-label>
          <input matInput type="number" [(ngModel)]="dayOfMonth"/>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-expansion-panel>


<div *ngIf="true" style="margin-bottom: 22px;">
  <mat-expansion-panel>
    <mat-expansion-panel-header>Advanced Options</mat-expansion-panel-header>
    <table>
      <tr>
        <td>
          Are weekdays valid?
        </td>
        <td>
          <mat-checkbox [(ngModel)]="allowWeekdays">Allow weekdays</mat-checkbox>
        </td>
      </tr>
      <tr>
        <td>
          Are weekends valid?
        </td>
        <td>
          <mat-checkbox [(ngModel)]="allowWeekends">Allow weekends</mat-checkbox>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <hr/>
        </td>
      </tr>

      <tr>
        <td>
          Is the bill charged early or late?
        </td>
        <td>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="invalidDayFallback">
            <mat-radio-button [value]="InvalidDayFallback.PreviousAllowedDay">Before</mat-radio-button>
            <mat-radio-button [value]="InvalidDayFallback.NextAllowedDay">After</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
    </table>


  </mat-expansion-panel>
</div>

<div style="display: flex; flex-direction: row;">
  <button mat-flat-button color="warn" style="margin-right: 11px;" (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="create()">Create</button>
</div>
