<p-card>
  <ng-template pTemplate="title">
    <h2 class="m-0 p-0">Create a bill</h2>
  </ng-template>

  <ng-template pTemplate="content">
    <p-stepper orientation="vertical">

      <p-stepperPanel header="Details">
        <ng-template pTemplate="content">
          <ng-container *ngTemplateOutlet="details"/>
        </ng-template>

      </p-stepperPanel>
      <p-stepperPanel header="Frquency">
        <ng-template pTemplate="content">
          <ng-container *ngTemplateOutlet="frequency"/>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Advanced Options">
        <ng-template pTemplate="content">
          <ng-container *ngTemplateOutlet="advancedOptions"/>
        </ng-template>
      </p-stepperPanel>

    </p-stepper>

    <div class="mt-4" style="display: flex; flex-direction: row;">
      <p-button [severity]="'warning'" (click)="cancel()" [style]="{marginRight: '1rem'}">Cancel</p-button>
      <p-button [severity]="'primary'" (click)="create()">Create</p-button>
    </div>
  </ng-template>


</p-card>




<ng-template #details>
  <div class="form-field mb-2">
    <label for="name">Name</label>
    <input pInputText type="text" id="name" [(ngModel)]="name"/>
  </div>

  <div class="form-field mb-2">
    <label>Cost</label>
    <p-inputGroup>
      <p-inputGroupAddon>&pound;</p-inputGroupAddon>
      <p-inputNumber mode="decimal" [minFractionDigits]="2" [(ngModel)]="cost"/>
    </p-inputGroup>
  </div>

  <div class="form-field mb-2">
    <label for="description">Description</label>
    <textarea pInputTextarea id="description" [(ngModel)]="description"></textarea>
  </div>


</ng-template>

<ng-template #frequency>
  <table>
    <tr>
      <td>Every</td>
      <td class="form-field">
        <p-dropdown [(ngModel)]="eventFrequency" [options]="frequencyCategoryOptions"
                    optionLabel="label" optionValue="value"
                    placeholder="Select a frequency"/>
      </td>
    </tr>


    <tr>
      <td>On a</td>
      <td class="form-field">
        <p-dropdown [(ngModel)]="eventType" [options]="frequencyOperationOptions"
                    optionLabel="label" optionValue="value"
                    placeholder="Select an operation"/>
      </td>
    </tr>


    <tr>
      <td></td>
      <td class="form-field">
        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="specificDate" [iconDisplay]="'input'" [showIcon]="true" />
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #advancedOptions>
  <table>
    <tr>
      <td>
        Are weekdays valid?
      </td>
      <td class="form-field checkbox mb-0">
        <p-checkbox [(ngModel)]="allowWeekdays" [binary]="true" inputId="allowWeekdays"/>
        <label for="allowWeekdays">Allow weekdays</label>
      </td>
    </tr>
    <tr class="spacer-2"></tr>
    <tr>
      <td>
        Are weekends valid?
      </td>
      <td class="form-field checkbox mb-0">
        <p-checkbox [(ngModel)]="allowWeekends" [binary]="true" inputId="allowWeekends"/>
        <label for="allowWeekends">Allow weekends</label>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <hr/>
      </td>
    </tr>

    <tr>
      <td class="pr-2">
        Is the bill charged early or late?
      </td>
      <td class="flex flex-wrap gap-3">
        <div class="form-field radio mb-0">
          <p-radioButton [(ngModel)]="invalidDayFallback" [value]="InvalidDayFallback.PreviousAllowedDay"
                         inputId="invalidDayFallbackPreviousAllowedDay"/>
          <label for="invalidDayFallbackPreviousAllowedDay">Early</label>
        </div>
        <div class="form-field radio mb-0">
          <p-radioButton [(ngModel)]="invalidDayFallback" [value]="InvalidDayFallback.NextAllowedDay"
                         inputId="invalidDayFallbackNextAllowedDay"/>
          <label for="invalidDayFallbackNextAllowedDay">Late</label>
        </div>
      </td>
    </tr>
  </table>
</ng-template>



