<div class="flex flex-row">
  <div class="flex-grow-1">
    <div class="flex flex-column gap-2">
      <label>Payday</label>
      <p-calendar [showOtherMonths]="false" [showIcon]="true" [iconDisplay]="'input'"
                  (onSelect)="setDate($event)" [ngModel]="paydayDate()" [dateFormat]="'dd/mm/yy'" />
    </div>

  </div>
  <div>
    <p-button routerLink="create">
      <i class="fa-regular fa-calendar-circle-plus"></i>
      &nbsp;
      Create a bill
    </p-button>
  </div>

</div>


