/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;

  margin: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



/* Fixes for PrimeNG - border radius of p-inputNumber is not correct when within a p-inputGroup */
.p-inputgroup > p-inputnumber input.p-inputnumber-input {
  border-radius: 0;
  margin: 0;
}

.p-inputgroup p-inputnumber:last-child input.p-inputnumber-input {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-inputgroup p-inputnumber:first-child input.p-inputnumber-input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
